<html>
    <head>
        <title>The Gossip Project</title>
        <style>
        h1{
            text-align: center;

        }
        a{
            color: cadetblue;
            text-decoration: none;
            background-color: white;
            border-radius: 20px;
            font-size: 30px;
            padding-left: 20px;
            border-color: #C0C1C6
        }

        a:hover{
            background-color: #C0C1C6;
        }
        div.top{
            text-align: center;
        }
        </style>
    </head>
    <body>
        <h1>Mon super site de gossip, depuis le dossier view</h1>
        <div id="créer">
        <a href="/gossips/new">Créer un potin stp</a>
        </div>
        <br/>
        <% gossips.each_with_index do |gossip, index| %>
            <a href="/gossips/<%= index + 1 %>"
            <p> L'auteur du potin : 
                <%= gossip.author %><br/>
                Le potin en question : <%= gossip.content %>
            </p>
            <a/>
        <% end %> 

    </body>
</html>